<body>
  <main role="main">
		<section class="jumbotron text-center">
			<div class="container">
			<h1 class="display-4">Cook Wish</h1>
			<p class="lead mt-4">「今日何食べたい？」に即レスするための料理ブック</p>
			<hr class="my-4">
			<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_up" role="button">新規登録</a>
			<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_in" role="button">ログイン</a>
		  </div>
		</section>
	<div class="container">
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">あなたは今までに食べた嫁の料理を覚えているだろうか？</h2>
			<p class="lead">ハンバーグハンバーグハンバーグハンバーグハンバーグハンバーグハンバーグハンバーグハンバーグハンバーグ</p>
		</div>
		<div class="col-md-5">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">「今日何食べたい？」</h2>
			<p class="lead">24時間365日いつでもベストアンサーを持っているだろうか？</p>
		</div>
		<div class="col-md-5 order-md-1">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Noと答えたあなたにCook Wish</span></h2>
			<p class="lead">使い方はカンタン。嫁の素敵な料理を撮って記録するだけ。</p>
		</div>
		<div class="col-md-5">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
		</div>
	</div>
	<div class="container text-center">
		<hr class="my-4">
		<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_up" role="button">新規登録</a>
		<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_in" role="button">ログイン</a>
	</div><!-- /.container -->
</body>