
<body>
  <main role="main">
		<section class="jumbotron text-center">
				<div class="bg-mask col-xs-10 col-sm-8 col-md-6 col-lg-6 mx-auto">
					<div class="frontContents">
						<h1 class="display-4">Cook Wish</h1>
						<p class="lead mt-4">「今日何食べたい？」に<br>即レスするための料理ブック</p>
						<hr class="my-4">
						<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_up" role="button">新規登録</a>
						<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_in" role="button">ログイン</a>
					</div>
				</div>
		</section>
	<div class="container">
	<hr class="featurette-divider mt-5">
	<div class="row featurette">
		<div class="col-md-7 my-auto">
			<h2 class="featurette-heading">あなたは今までに食べた<br>嫁の手料理を覚えているだろうか？</h2>
		</div>
		<div class="col-md-5">
			<%= image_tag 'Nikujaga.jpg', :class => "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
		</div>
	</div>

	<hr class="featurette-divider mt-5">

	<div class="row featurette">
		<div class="col-md-7 order-md-2 my-auto">
			<h2 class="featurette-heading">「今日何食べたい？」の持つ魔力</h2>
			<p class="lead mt-5">冷蔵庫の余った食材と旬な食材を使って</p>
			<p class="lead">家族みんなが苦手なものが入ってなくて</p>
			<p class="lead">スーパーの特売情報も考慮して</p>
			<p class="lead">もちろん私が作れる料理の中で...</p><br>
			<p class="lead">今日何食べたい？</p>
		</div>
		<div class="col-md-5 order-md-1">
			<%= image_tag 'pasta.jpg', :class => "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
		</div>
	</div>

	<hr class="featurette-divider mt-5">
	<section class="text-center">
		<div class="container">
			<h1 class="jumbotron-heading">悩めるあなたにCook Wish</h1>
			<p class="lead text-muted">使い方はカンタン。嫁の素敵な料理を撮って記録するだけ。</p>
			<p>
			<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_up" role="button">新規登録</a>
			<a class="btn btn-warning text-white btn-lg m-3" href="users/sign_in" role="button">ログイン</a>
			</p>
		</div>
	</section>
</body>